@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color variables */
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #0e0e0e;
  --glow-color-1: #00ff88;
  --glow-color-2: #00ac5c;
  --glow-color-3: #00723d;
  --glow-text-color: #4bffab;
  --blink-color-1: #111;
  --blink-color-2: #38ffa2;

  font-family: "Cal Sans", sans-serif;
  /* font-family: "Jetbrains Mono", sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .glow {
    text-shadow: 0 0 5px var(--glow-color-1), 0 0 15px var(--glow-color-2),
      0 0 20px var(--glow-color-2), 0 0 40px var(--glow-color-1),
      0 0 60px var(--glow-color-2), 0 0 10px var(--glow-color-3),
      0 0 98px #ffffff;
    color: var(--glow-text-color);
  }
}

h1 {
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

/* 
body {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
*/

.mono {
  font-family: "JetBrains Mono", monospace;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: var(--blink-color-1);
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px var(--glow-color-1), 0 0 15px var(--glow-color-2),
      0 0 20px var(--glow-color-2), 0 0 40px var(--glow-color-1),
      0 0 60px var(--glow-color-2), 0 0 10px var(--glow-color-3),
      0 0 98px #ffffff;
    color: var(--blink-color-2);
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: var(--blink-color-1);
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px var(--glow-color-1), 0 0 15px var(--glow-color-2),
      0 0 20px var(--glow-color-2), 0 0 40px var(--glow-color-1),
      0 0 60px var(--glow-color-2), 0 0 10px var(--glow-color-3),
      0 0 98px #ffffff;
    color: var(--blink-color-2);
  }
}
