@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color variables */
  --glow-color: #17c574;
  --glow-color-alpha: #17c574aa;
  --glow-spread-color: var(--glow-color);
  --enhanced-glow-color: var(--glow-color);
  --bg-color: #010000;


  font-family: "Cal Sans", sans-serif;
  /* font-family: "Jetbrains Mono", sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .glow {
    color: var(--glow-color);
    /* text-shadow: 0 0 7px var(--glow-spread-color),
      0 0 10px var(--glow-spread-color), 0 0 21px var(--glow-spread-color),
      0 0 42px var(--glow-color), 0 0 82px var(--glow-color),
      0 0 92px var(--glow-color), 0 0 102px var(--glow-color),
      0 0 151px var(--glow-color); */
  }
}

/* h1 {
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
} */

/* 
body {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
*/

.mono {
  font-family: "JetBrains Mono", monospace;
}
/* 
@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: var(--blink-color-1);
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px var(--glow-color-1), 0 0 15px var(--glow-color-2),
      0 0 20px var(--glow-color-2), 0 0 40px var(--glow-color-1),
      0 0 60px var(--glow-color-2), 0 0 10px var(--glow-color-3),
      0 0 98px #ffffff;
    color: var(--blink-color-2);
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: var(--blink-color-1);
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px var(--glow-color-1), 0 0 15px var(--glow-color-2),
      0 0 20px var(--glow-color-2), 0 0 40px var(--glow-color-1),
      0 0 60px var(--glow-color-2), 0 0 10px var(--glow-color-3),
      0 0 98px #ffffff;
    color: var(--blink-color-2);
  }
} */
